.content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 18px;
}

.regfile:hover {
    background-color: #3f3f3f;
    cursor: pointer;
}

.selected {
    background-color: #1c1c1c !important;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.size {
    margin-left: auto;
    font-size: 12px;
}
